<%- include('../partials/header') %>

<div class="jumbotron">
    <div class="container">
        <h1>Blogs</h1>

        <a href="/blogs/new">Create a new blog</a>

        <hr />

        <% for (let blog of blogs) { %>
            <h4><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h4>
            <p class="blogText"><%= blog.text %></p>
            <hr />
        <% } %>

    </div>
</div>

<%- include('../partials/footer') %>