<%- include('../partials/header') %>

<div class="jumbotron">

  <a href="/blogs/<%= blogID %>" class="btn btn-outline-dark float-left">Back</a>

    <div class="container">
        <h1>Edit Your Comment</h1>

        <form action="/blogs/<%= blogID %>/comments/<%= comment._id %>?_method=PATCH" method="POST" class="mt-2">

            <div class="form-group">
              <label for="text">Comment</label>
              <textarea class="form-control" name="text" id="commentText" rows="5"><%= comment.text %></textarea>
            </div>    

            <button class="btn btn-lg btn-info">Update</button>
            
          </form>
    </div>
</div>

<script src="/js/validationNEW.js"></script>

<%- include('../partials/footer') %>